<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/support/article/editing-wp-config-php/
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '{{ wordpress_database }}' );

/** MySQL database username */
define( 'DB_USER', '{{ wordpress_database_user }}' );

/** MySQL database password */
define( 'DB_PASSWORD', '{{ wordpress_database_user_password }}' );

/** MySQL hostname */
define( 'DB_HOST', 'localhost' );

/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8' );

/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */

define('AUTH_KEY',         ']?e$9~J>9#Bg;-<=_Uft&q_E#(y`1q#2=otw5kBgX559tMTYaS`czVFvEbr&$&,{');
define('SECURE_AUTH_KEY',  '.|ExmHr;I0J1uV?c9CzBvzy/)nQnd90$Bbqg>`pDRa2d1S,AFUDp>j!1+5h0rc1w');
define('LOGGED_IN_KEY',    'GZe32^&NG8a+?Wnfas0++}FD~+W6UPY5$`2QQCM!p_T>q->9clvUws|PYgNK+T5Z');
define('NONCE_KEY',        'C=|rPIR|LY_@U1QD]s+;1-,6-C.K+aEEl{tDpesY=<f9TVNx-|sq 6dtTv)|N,m@');
define('AUTH_SALT',        'h8dM7;$f8)4Ha0x+;N]P|>3hReODfa4!<2g+11RoTPk1@:po%e|{d@&*nx!Z;a,H');
define('SECURE_AUTH_SALT', 'u,A6|*w(87g8nK#K5_CX!CEyS/4e*lm.jOi8Mx}](Z&s+LMgvz]EZi{Fcd1c*6..');
define('LOGGED_IN_SALT',   'Dg!/b+hEvS=T^,fKYx=GJ;;_}4^RN*XOJ]+(hTDdq+f8=A@AD=]eNVyAA<4R-H#F');
define('NONCE_SALT',       'hhcyh+,f66X+&+qQ<-f[)C}0Pta-E^oG #DhU&Hy(ohzkBt^4w?)n4iC,d&ZNlY:');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';


/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/support/article/debugging-in-wordpress/
 */

define( 'WP_DEBUG', true );

/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';

/** Sets up file system to write */
define('FS_METHOD', 'direct');

/** Enable login via HTTP protocol. 
* It is strongly recommended that this feature should not be used in production environments.
*/
define('FORCE_SSL_LOGIN', false);