$ORIGIN .
$TTL 604800	; 1 week
{{ fqdn }}	IN SOA	{{ fqdn }}. admin.{{ fqdn }}. (
				7          ; serial
				604800     ; refresh (1 week)
				86400      ; retry (1 day)
				2419200    ; expire (4 weeks)
				604800     ; minimum (1 week)
				)
			NS	{{ fqdn }}.
$ORIGIN {{ fqdn }}.
$TTL 604800	; 1 week
1     PTR erl.30.1.10.in-addr.arpa.
5     PTR ansible.30.1.10.in-addr.arpa.
11    PTR ns1.30.1.10.in-addr.arpa.


# リバースDNSとは？

# リバースDNSルックアップは、特定のIPアドレスに関連付けられたドメイン名を探すDNSクエリーです。より一般的に使用される、DNSシステムがクエリーを受けてIPアドレスを返す、DNS前方ルックアップの反対が実現されます。

# インターネット技術タスクフォース（IETF）の発行する標準では、すべてのドメインでリバースDNSルックアップが可能であることが推奨されていますが、リバースルックアップはインターネットの通常の機能にとって重要ではないため、絶対要件ではありません。そのため、リバースDNSルックアップは全般的に採用されているわけではありません。
# リバースDNSルックアップは何に使用されるのか？

# リバースルックアップは、メールサーバーで非常に一般的に使用されます。多くのメールサーバーは、リバースルックアップをサポートしていないサーバーからのメッセージを拒否します。これは、スパマーが通常、無効なIPを使用するためで、メールサーバーは、メッセージをネットワークに取り込む前に、有効なサーバーから送信されたかどうかを確認します。

# ロギングソフトウェアが、ログデータから数値の組み合わせのIPアドレスではなく、人間が読めるドメインをユーザーに提供するためにリバースルックアップを使用することも一般的です。